html,body {
	height: 100%;
}

body.my-login-page {
	background-image: linear-gradient(rgba(0, 83, 156),rgba(00, 00, 00));
	font-size: 13.8px;
	background-attachment: fixed;
}

.my-login-page .brand {
	width: 300px;
	height: 300px;
	margin-bottom: -140px;
	margin-top: 20px;
	margin-left: 50px;
	position: relative;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .Transp{
	background-color: rgba(00, 00, 00, 0.5);
	background-attachment: fixed;
}


.my-login-page .btn.btn-block {
	padding: 12px 10px;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #ffffff;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
